body{
  margin: 0;
}
.navbar{
  position: fixed !important;
  right: 0;
  left: 0;
  z-index: 999;
}
#main{
  background: url(images/087197b3-e20f-4390-be5e-9f69cc7e1ccc.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  padding: 10% 20% 10% 40%;
}
#title_main{
  font-size: 3.5em;
}
#desc_main{
  font-size: 1.3em;
}
@media screen and (max-width: 804px) {
  #main{
    padding: 80px;
  }
  #title_main{
    font-size: 1.7em;
  }
}
/*top dishes*/
.dishes{
  height: 250px;
  width: 250px;
}
#top_rated h2{
  text-align: center;
  margin: 30px;
}
.top_dishes{
  text-align: center;
  margin: 15px 0;
}
.dish_name{
  font-size: 23px;
  font-weight: bold;
}
.card{
  padding: 0.8em;
  margin: 1em;
}
.card-text, .card-title{
  margin: 0.8em;
}
.top_dishes .btn{
  font-size: 18px;
}
.check_the_menu .btn{
    height: 56px;
    width: 300px;
    font-size: 28px;
    display: block;
    margin: 50px auto;
}
.check_the_menu .btn, .top_dishes .btn{
    color: white;
    background: rgb(205, 22, 8);
    padding: 2px 5px;
    border: 1px solid rgb(205, 22, 8);
}
/*booking*/
#booking input, #booking select{
  height: 30px;
  width: 300px;
  font-size: 15px;
  padding: 2px 5px;
  margin: 10px 0;
  color: rgb(115, 115, 115);
  background: white;
  border: 1px solid rgb(115, 115, 115);
}
#booking button{
  color: white;
  background: rgb(205, 22, 8);
  padding: 2px 5px;
  margin: 10px 10px 10px 0;
  height: 2em;
  width: 300px;
  font-size: 15px;
  padding: 2px 5px;
  border: 1px solid rgb(205, 22, 8);
}
#booking input::placeholder{
  color: rgb(115, 115, 115);
}
#booking hr{
  width: 280px;
  margin: 10px;
}
#booking h2{
  color: rgb(100, 100, 100);
  display: block;
  margin: 10px auto;
}
#book_img img{
  height: 432px;
  margin: 20px;
}
#book_img{
  width: 70%;
  padding: 60px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 2px rgb(190, 190, 190);
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
option{
  color: black;
}
::-webkit-calendar-picker-indicator {
  filter: invert(0.45);
}
@media screen and (max-width: 940px) {
  #book_img{
    width: 60%;
    box-shadow: none;
  }
  footer .colo{
    margin: 4px;
    text-align: center;
  }
}
@media screen and (min-width: 940px) {
  #book_img{
    width: 80%;
  }
}
/*reviews*/
#propic{
  border-radius: 50%;
  width: 130px;
  height: 130px;
  display: block;
  margin: 10px auto;
}
#reviews{
  background: rgb(225, 225, 225);
  padding: 60px;
  text-align: center;
}
#client{
  margin: 10px;
  font-size: 20px;
}
#stars{
  height: 20px;
}
#rev_tit{
  font-weight: bold;
  color: rgb(50, 50, 50);
  font-size: 25px;
  text-align: center;
  margin: 0;
}
#reviews hr{
  margin: 20px auto;
}
/*download*/
#download img{
  width: 128px;
  padding: 0 15px;
}
#download{
  padding: 30px;
}
#download p{
  font-weight: bold;
  color: rgb(205, 22, 8);
  font-size: 25px;
  text-align: center;
}
/*footer*/
footer{
  background: rgb(205, 22, 8);
  margin: 40px 0 0 0;
  padding: 30px;
}
footer .container{
  align-items: center;
  padding: 20px 40px;
}
footer h3{
  color: white;
  text-transform: uppercase;
}
footer p{
  color: rgb(250, 250, 250);
}
footer input{
  width: 240px;
  height: 30px;
  font-size: 15px;
  padding: 2px 5px;
  margin: 10px 0;
  color: rgb(115, 115, 115);
  background: white;
  border: 1px solid rgb(115, 115, 115);
}
footer button{
  color: white;
  background: rgb(205, 22, 8);
  padding: 2px 5px;
  margin: 10px 10px 10px 0;
  height: 30px;
  width: 240px;
  font-size: 15px;
  padding: 2px 5px;
  border: 1px solid white;
}

